{{if len .comments}}
	{{$comment := index .comments 0}}
	<div class="conversation-holder" data-path="{{$comment.TreePath}}" data-side="{{if lt $comment.Line 0}}left{{else}}right{{end}}" data-idx="{{$comment.UnsignedLine}}">
		<div class="field comment-code-cloud">
			<div class="comment-list">
				<div class="ui comments">
					{{template "repo/commit/comments" dict "root" $ "comments" .comments}}
				</div>
			</div>
			{{if and $.SignedUserID (not $.Repository.IsArchived)}}
				<div class="flex-text-block tw-mt-2 tw-flex-wrap tw-justify-end">
					<button class="comment-form-reply ui primary icon tiny button">
						{{svg "octicon-reply" 12}}{{ctx.Locale.Tr "repo.diff.comment.reply"}}
					</button>
				</div>
			{{end}}
			{{template "repo/commit/comment_form" dict "root" $ "hidden" true "Line" $comment.UnsignedLine "File" $comment.TreePath "Side" $comment.DiffSide "HasComments" true}}
		</div>
	</div>
{{end}}
